.dashboard {
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.userName {
  font-size: 2rem;
  font-weight: bold;
}

.section{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.referralSection {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 2rem;

  h3{
    font-size: 2rem;
  }
}

.referralLink {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  padding: 0.3rem;
  border-radius: 0.5rem;

  
}

.copyButton {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #004AAD;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.copyButton:hover{
  background: #003b7b;
}

.copyButton:active{
  transform: scale(0.9);
}

.earningsSection {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 3rem;

  h3{
    font-size: 2rem;
  }
}

.earningBox {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ffc6a0;
  border-radius: 1rem;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}


@media (max-width: 600px) {
  /* Styles go here */
  .section{
    flex-direction: column;
  }

  .earningsSection h3{
    font-size: 1.5rem;
  }

  .earningsSection{
    padding: 2rem;
  }

  .referralSection h3{
    font-size: 1.5rem;
  }

  .referralSection{
    padding: 2rem;
  }

  .dashboard{
    margin-top: 2rem;
  }
}